@* Views/Home/Index.cshtml *@
@{
    ViewData["Title"] = "Acesso ao Sistema";
    // Define o estado inicial como "Login" se não houver estado definido
    string telaAtual = (string)TempData["TelaAtual"] ?? "Login";

    // Usamos um switch para controlar qual Partial View será renderizada
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div id="conteudo-central" class="p-4 border rounded shadow-lg bg-white">

            @switch (telaAtual)
            {
                case "Denuncia":
                    @* Carrega o partial de denúncia *@
                    @await Html.PartialAsync("~/Views/Denuncia/_DenunciaPartial.cshtml")
                    break;

                case "AdicionarAtivo":
                    // Carrega a tela de adicionar/editar
                    @await Html.PartialAsync("~/Views/Ativos/_AdicionarAtivoPartial.cshtml")
                    break;

                case "Cadastro":
                    // Carrega a tela de cadastro
                    @await Html.PartialAsync("_CadastroPartial")
                    break;

                case "Login":
                default:
                    // Renderiza o Login (padrão)
                    @await Html.PartialAsync("_LoginPartial")
                    break;
            }

            @* Aqui não há @section Scripts para AJAX, apenas os básicos se forem necessários *@
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/lib/jquery-mask-plugin/dist/jquery.mask.min.js"></script>

    <script src="~/js/acesso.js"></script>
}

