@page
@model Serena.Views.Home.LoginModel
@{
}

@{
   
}

<div class="row justify-content-center">

    <div class="col-md-5">
        <div class="p-4 border rounded shadow-sm bg-white">
            <h2 class="text-center mb-4 text-primary">Acesse sua Conta</h2>

            <form action="/api/Auth/Login" method="post">

                <div class="mb-3">
                    <label for="inputEmailLogin" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="inputEmailLogin" name="email" required>
                </div>

                <div class="mb-3">
                    <label for="inputSenhaLogin" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="inputSenhaLogin" name="password" required>
                </div>

                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-5">
        <div class="p-4 border rounded shadow-sm bg-light">
            <h2 class="text-center mb-4">Novo por aqui?</h2>
            <p class="text-center">Crie sua conta rapidamente!</p>

            @await Html.PartialAsync("_CadastroPartial")
        </div>
    </div>
</div>

@section Scripts {
}
