@model UserViewModel

<div class="card shadow-sm">
    <div class="card-header bg-success text-white">
        <h4 class="mb-0"><i class="fas fa-user-plus"></i> Criar Nova Conta</h4>
    </div>
    <div class="card-body">
		<component type="typeof(FormsUser)"/>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

